body {
	margin: 0;
	padding: 0;
}
.left-container {
	position: fixed;
	width: 400px;
	height: 100vh;
	background-color: #E1FF8A;
}
.photo_contact {
	position: absolute;
	top: 100px;
	left: 100px;
	text-align: center;	
}
.photo {
	width: 100%;
	border-radius: 100%;
}
.buton {
	width: 100%;
	background-color: whitesmoke;
	border-radius: 25px;
	margin-bottom: 15px;
	font-size: 1.5rem;
	font font-weight: bold;
	padding: 10px;


}
.buton:hover {
	background-color: black;
	color: white;
	transition: 1s;
	cursor: pointer;
}

.right-container {
	position: absolute;
	left: 400px;
}

.top-bar {
	padding-top: 30px;
	
}

.title {
	padding-left: 100px;
	font-size: 1.3rem;
	font-style: italic;
	text-decoration: none;
	color: black;
}
.list-menu {
	float: right;
	padding-right: 50px;
}

.menu {
	font-size: 1.1rem;
	padding: 0 15px;
  	text-decoration: none;
	color: black;
}
#profile {
	padding-top: 100px;
	padding-left: 100px;
}

#about {
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
}

#experience {
	padding-top: 250px;
	padding-left: 100px;
}

#achievement {
	padding-top: 250px;
	padding-left: 100px;

}

#contact {
	padding-top: 250px;
	padding-left: 100px;

}
p, li {
	line-height: 200%;
}

#footer {
	padding-top: 250px;
	text-align: center;
}